* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#ixce {
  color: black;
}
#i7ml {
  padding: 10px;
}
.gjs-row {
  display: table;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
}
.gjs-cell {
  width: 8%;
  display: table-cell;
  height: 75px;
}
#iv4es {
  color: #d983a6;
}
#iizj3 {
  padding: 10px;
}
#ii1lz {
  padding: 10px;
  color: #8b1818;
}
body {
  background-color: #921e1e;
}
#iv8sf {
  color: black;
}
#issch {
  height: 350px;
}
#ikw4p {
  padding: 10px;
}
#i38yj {
  padding: 10px;
}
#im7hh {
  color: #922626;
}
@media (max-width: 768px) {
  .gjs-cell {
    width: 100%;
    display: block;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#ixce {
  color: black;
}
#i7ml {
  padding: 10px;
}
.gjs-row {
  display: table;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
}
.gjs-cell {
  width: 8%;
  display: table-cell;
  height: 75px;
}
#iv4es {
  color: #d983a6;
}
#iizj3 {
  padding: 10px;
}
#ii1lz {
  padding: 10px;
  color: #8b1818;
}
body {
  background-color: #921e1e;
}
#iv8sf {
  color: black;
}
#issch {
  height: 350px;
}
#ikw4p {
  padding: 10px;
}
#i38yj {
  padding: 10px;
}
#im7hh {
  color: #922626;
}
@media (max-width: 768px) {
  .gjs-cell {
    width: 100%;
    display: block;
  }
}
* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;}#i38yj{padding:10px;}#im7hh{color:#922626;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;}#i38yj{padding:10px;}#im7hh{color:#922626;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;color:#78d317;}#i38yj{padding:10px;}#im7hh{color:#922626;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;color:#78d317;}#i38yj{padding:10px;}#im7hh{color:#922626;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;color:#78d317;}#i38yj{padding:10px;}#im7hh{color:#922626;}#i8hax4q{color:black;width:657px;height:602px;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;color:#78d317;}#i38yj{padding:10px;}#im7hh{color:#922626;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;color:#78d317;}#i38yj{padding:10px;}#im7hh{color:#922626;}#i8hax4q{color:black;width:657px;height:602px;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#ixce{color:black;}#i7ml{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv4es{color:#d983a6;}#iizj3{padding:10px;}#ii1lz{padding:10px;color:#8b1818;background-color:#8a3a6d;}body{background-color:#161111;}#iv8sf{color:black;}#issch{height:350px;}#ikw4p{padding:10px;color:#78d317;}#i38yj{padding:10px;}#im7hh{color:#922626;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#icse{width:30%;}#iziy{width:70%;}#isd9{color:black;width:542px;}#i8lz{padding:10px;}#i6u8{color:#ffffff;}body{background-color:rgba(0,0,0,0.59);}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#iw8h{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#i3y3{padding:10px;font-size:30px;color:#f4efef;}#isngt{color:black;width:583px;}body{background-color:#221515;}#idyly{height:350px;}#ishwq{padding:10px;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#iw8h{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#i3y3{padding:10px;font-size:30px;color:#f4efef;}#isngt{color:black;width:583px;}body{background-color:#221515;}#idyly{height:350px;width:536px;}#ishwq{padding:10px;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}#iw8h{padding:10px;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#i3y3{padding:10px;font-size:30px;color:#f4efef;}#isngt{color:black;width:583px;}body{background-color:#221515;}#idyly{height:350px;width:536px;}#ishwq{padding:10px;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#iv0f{color:black;width:814px;}#i38i{padding:10px;float:right;right:-1px;color:#edecec;}body{background-color:#443838;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#idnr{width:30%;}#i5q3{width:70%;}#iw38{color:black;width:476px;}body{background-color:#181313;}#i286{padding:10px;}#ifji{color:#e6cdcd;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}* { box-sizing: border-box; } body {margin: 0;}.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}.gjs-cell{width:8%;display:table-cell;height:75px;}#idnr{width:30%;}#i5q3{width:70%;}#iw38{color:black;width:476px;}body{background-color:#181313;}#i286{padding:10px;}#ifji{color:#e6cdcd;}@media (max-width: 768px){.gjs-cell{width:100%;display:block;}}